/*== general ======================================*/
 * { margin: 0; }
html, body { height: 100%; }
body { font-family: Arial, Helvetica, sans-serif; color: #333333; margin:0; padding: 0; font-size: 14px; line-height: 1.4em; text-align: left }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td { font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; border: none; text-align: left; text-decoration:none; color: #333333; margin:0; padding: 0; font-size: 14px; }
input, button, textarea, select { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #444444; margin:0; padding: 3px; vertical-align: bottom; }
dl, ul, ol { list-style: none; margin: 0; padding: 0; }
img { border: none; vertical-align: top; margin: 0; padding: 0; line-height:1; }
a { color: #333333; }
a:hover, a:active { color: #444444; text-decoration: none; }
h1 { font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; letter-spacing:0.2em; color: #fef4e9; font-weight:bold; font-size:22px; border: solid 1px #da7c0c; background: #f78d1d; background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); background: -moz-linear-gradient(top, #faa51a, #f47a20); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); padding:8px 0; text-align:center; margin-bottom:20px; }
/*== nav.inc.php ======================================*/
div#mainWrapper { width: 1000px; margin: auto; padding-top: 3px; }
.bar_bg { color: #fff; background: #64991e; background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)); background: -moz-linear-gradient(top, #7db72f, #4e7d0e);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }
.htag, .htag a { color: #FFF; font-family: "Arial Black", Gadget, sans-serif; font-size: 16px; text-align: center; width: 100%; padding:8px 0; }
.header { height:45px; width:100%; margin-top:5px; }
.logo { float: left; width:450px; height:50px; }
.logo img { width:450px; height:50px; background:url(../../images/common/logo.gif) 0 0; }
.header_r { float: right; width:450px; }
.header_r p { width:440px; float:right; text-align:right; margin-top:0; line-height:1.2em; }
.logout { padding:10px; }
div.nav { clear:both; display: block; width: 100%; height: 40px; margin-bottom: 10px; font-size: 20px; text-transform: uppercase; border-bottom: 2px dotted #ccc; }
.nav ul { list-style-type: none; }
.nav ul li { list-style-type: none; display: inline; float: left; padding: 15px 20px 10px 0; text-align: center; font-size:1.3em; }
.nav ul li a { color: #000; text-decoration: none; }
.nav ul li a:hover { color:#F47E1F; }
.nav ul li.current,
li.current a { background: #ccc; }
/*==	bread crumbs ======================================*/
#navBreadCrumb { clear:both; margin:1em 0; }
#navBreadCrumb a { color: #0099CC; }
#navBreadCrumb div { float:left }
/*== css buttons ======================================*/
.button { display: inline-block; zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */  *display: inline;
vertical-align: baseline; margin:20px 2px 0 2px; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 14px/100% Arial, Helvetica, sans-serif; padding: .5em 2em .55em; text-shadow: 0 1px 1px rgba(0,0,0,.3); -webkit-border-radius: .5em; -moz-border-radius: .5em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); }
.button:hover { text-decoration: none; }
.button:active { position: relative; top: 1px; }
.bigrounded { -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; }
.medium { font-size: 12px; padding: .4em 1.5em .42em; }
.small { font-size: 11px; padding: .2em 1em .275em; }
.orange { color: #fef4e9; border: solid 1px #da7c0c; background: #f78d1d; background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); background: -moz-linear-gradient(top, #faa51a, #f47a20);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover { background: #f47c20; background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)); background: -moz-linear-gradient(top, #f88e11, #f06015);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active { color: #fcd3a5; background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)); background: -moz-linear-gradient(top, #f47a20, #faa51a);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.green { color: #e8f0de; border: solid 1px #538312; background: #64991e; background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)); background: -moz-linear-gradient(top, #7db72f, #4e7d0e);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover { background: #538018; background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c)); background: -moz-linear-gradient(top, #6b9d28, #436b0c);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active { color: #a9c08c; background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f)); background: -moz-linear-gradient(top, #4e7d0e, #7db72f);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
/*=== Quote Page ===*/
.container_left { width: 540px; float: left; }
.container_right { width: 460px; float :left; } 
#accordion { width: 500px; } /* JQuery UI Accordion */
.ui-state-active { color:#f88e11; font-weight:bold; }
.clear { clear: both; } /* Sticky Scroll JS*/
#sticker { padding: 25px; margin: 3px 0; width: 410px; background-color: #eee; } /* Sticky Scroll JS */
#sticker h2 { padding: 0; margin: 0; }
.stick { position: fixed; top: 10px; } /* Sticky Scroll JS */
#quote_form label { display: block; font-family: Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; }
#quote_form input,
#quote_form textarea { font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin-top:5px; margin-bottom:15px; padding:5px; }
#quote_form input#club, #quote_form input#shaft { width: 380px; }
#quote_form input#quantity, #quote_form input#customer, #quote_form input#email { width: 300px; }
input#subscribe { width: 15px; height: 15px; margin:0; padding:0; }
.red { color: #f00; }
.thanks { margin:40px auto; padding:40px; border:#ccc solid 1px; }
.thanks tr td { margin:10px; padding:5px; }
.thanks_label {font-weight:bold }
/*== footer ======================================*/
.footer { width: 1000px; margin: auto; }
.footer ul { padding: 15px 0; width: 165px; float: left; }
.footer ul li { color: #E4FBC0; float: none; height:20px; padding-left: 0; font-size:13px }
.footer ul li.list_header { color:#FFF; font-weight:bold; font-size:14px }
.footer ul li a:link, .footer ul li a:visited { color: #E4FBC0; text-decoration: none; }
.footer ul li a:hover, .footer ul li a:active { text-decoration: underline; }
.footer ul li.seals  { height:100%; margin-bottom:5px; }
.footer p.company_info { clear:both; color:#fff; text-align:center; font-size:12px; letter-spacing:2px; }
.footer p.copy, .footer p.copy a { clear: both; text-align: right; padding-top: 8px; font-size:10px; color:#7db72f }
/*== sticky footer ======================================*/
/*.topWrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -32em; } /* JDM */
/*.footer, .push { height: 32em; } /* JDM */
.topWrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -10em; } /*-32em*/
.footer, .push { height: 10em; } /*32em*/
/*== layout & styling ======================================*/
.jp_wrap100 { clear: both; width: 100%; margin: 15px 0; }
.right_box { width:178px; float:right; padding:20px 15px; margin-bottom:40px }
.left_box { width:738px; float:left; padding:20px 15px; }
.right_box h3, .left_box h3 { color:#f78d1d; font-size:22px; font-weight:bold; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; letter-spacing:0.1em; margin-bottom:10px; }
.right_box h3 { height:30px; padding-left:35px; padding-top:5px; background:url(../../images/home/arrow.png) 0 0 no-repeat; margin-bottom:4px; }
.left_box h3 { margin:1em 0; }
.right_box .button { font-size:14px; font-weight:bold; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; letter-spacing:0.1em; padding: .3em 1em .32em; }
.left_box .button { color:#FFF; font-size:16px; font-weight:bold; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; letter-spacing:0.1em; padding: .5em 2em .5em; }
.right_box li { font-weight:bold; padding-top:8px }
.left_box p, .right_box p { margin:1em 0; line-height:1.5em; font-size:13px }
.right_box input, right_box select, .right_box textarea { padding:2px; }
.left_box h4 { font-weight:bold; font-size:1.2em; color:#333; margin-bottom:5px }
.box_grey { text-align: center; text-decoration: none; font: 16px/100% Arial, Helvetica, sans-serif; padding:10px; color: #333; border: solid 1px #e1e1e1; background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1)); background: -moz-linear-gradient(top, #fff, #f1f1f1); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1'); }
#jp_featured li { margin-right: 17px; }
.jp_about h2, #jp_featured h2 { font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-weight:bold; font-size: 22px; color: #999; width: 100%; border-bottom:#999 thin solid; margin-bottom:5px; }
.about_fg { clear: both; margin-top:20px; border:#999 thin solid; padding:10px; }
.about_fg p { line-height:200%; font-size:1.2em; font-family:Georgia, "Times New Roman", Times, serif; }
.dot { clear:both; display:block; margin:20px 0; padding-top:10px; border-top:#CCC thin dotted }
.dot a { font-weight:bold; color:#999 }
.jp_about { clear:both; padding:30px 0 }
.jp_about ul li { float:left; width:249px; margin-right:1px; }
.jp_about p { padding:10px; line-height:1.5em }
.why_bullet li span { font-weight:bold; margin-right:0.5em; width: 1em; height: 1em; color: #fef4e9; background: #f78d1d; -moz-border-radius: .5em; -webkit-border-radius: .5em; border-radius: .5em; background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); background: -moz-linear-gradient(top, #faa51a, #f47a20); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); }
.why_bullet li { width:330px; float:left; margin:10px; padding:8px; line-height:1.5em; font-size:13px; border: solid 1px #da7c0c; -webkit-border-radius: .5em; -moz-border-radius: .5em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); }
.jp_about .why_bullet li { width:220px; }
.why_fg .why_bullet li { width:168px; margin:10px 0; padding:5px; line-height:1.5em; font-size:13px; border: solid 1px #da7c0c; -webkit-border-radius: .5em; -moz-border-radius: .5em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); }
.why_fg li p { margin:0 }
.jp_about .mfg li { width:118px }
.small { color:#999; font-size:9px }
.linethrough { text-decoration: line-through; }
.recent { float:left; border:#999 1px dotted; padding:0 10px 20px; margin:0 20px 20px 0; width:320px; height:440px; background-color:#FFF; }
.recent_heading { font-weight:bold; color:#f78d1d }
/*=== admin area =======================================*/
.list_table { width:100%; margin:20px 0; border:#ccc solid 1px; }
.list_table tr th { border:#ccc dotted 1px; padding:5px; text-align:center; font-weight:bold; }
.list_table tr td { border:#ccc dotted 1px; padding:5px; text-align:center; }
.admin_form { margin:40px auto; padding:40px; border:#ccc solid 1px; }
.admin_form table tr td { margin:10px; padding:5px; }
div.success, div.err { margin:20px 0; padding:20px; border:#ccc dashed 1px; text-align:center; color:#F00; text-transform:uppercase; font-weight:bold; font-size:1.2em; background-color:#eee; }
div.success { color:#79B22C; }
/*== image sprite ======================================*/
.mfg li { float:left; margin:5px }
.mfg img { width:110px; height:50px; background:url(../images/home/jdm-logo.gif); border:#CCC 1px solid }
img.akira { background-position:0 0; }
img.bridgestone { background-position:-110px 0; }
img.epon { background-position:-220px 0; }
img.fourteen { background-position:-330px 0; }
img.fujikura { background-position:-440px 0; }
img.geoteck { background-position:-550px 0; }
img.gd { background-position:-660px 0; }
img.honma { background-position:0 -50px; }
img.iomic { background-position:-110px -50px; }
img.maruman { background-position:-220px -50px; }
img.mitsubishi { background-position:-330px -50px; }
img.miura { background-position:-440px -50px; }
img.miyazaki { background-position:-550px -50px; }
img.mizuno { background-position:-660px -50px; }
img.ns { background-position:0 -100px; }
img.no1 { background-position:-110px -100px; }
img.romaro { background-position:-220px -100px; }
img.rc { background-position:-330px -100px; }
img.srixon { background-position:-440px -100px; }
img.yamaha { background-position:-550px -100px; }
img.yonex { background-position:-660px -100px; }
img.yururi { background-position:0 -150px; }
img.fb { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) 0 -15px; margin:2px; }
img.tweet { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) -22px -15px; margin:2px; }
img.utube { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) -44px -15px; margin:2px; }
img.blogger { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) -66px -15px; margin:2px; }
img.gplus { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) -88px -15px; margin:2px; }
img.inst { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) 0 -40px; margin:2px; }
img.tumb { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) -22px -40px; margin:2px; }
img.pint { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) -44px -40px; margin:2px; }
img.wpress { width:22px; height:22px; background:url(../../images/common/sns-login-sp.png) -66px -40px; margin:2px; }
img.pagetop { width:80px; height:12px; background:url(../../images/common/sns-login-sp.gif) -40px 0; }
img.cyb { width:123px; height:45px; background:url(../../images/common/card_sp.gif) 0 0; }
img.amex { width:41px; height:45px; background:url(../../images/common/card_sp.gif) -123px 0; }
img.visa { width:61px; height:45px; background:url(../../images/common/card_sp.gif) -164px 0; }
img.paypal { width:52px; height:45px; background:url(../../images/common/card_sp.gif) -225px 0; }
img.diners { width:47px; height:45px; background:url(../../images/common/card_sp.gif) -277px 0; }
img.master { width:55px; height:45px; background:url(../../images/common/card_sp.gif) -324px 0; }
img.jcb { width:42px; height:45px; background:url(../../images/common/card_sp.gif) -379px 0; }
img.disc { width:54px; height:45px; background:url(../../images/common/card_sp.gif) -421px 0; }
img.playability { width:150px; height:90px; background:url(../../images/common/services_bw.gif) 0 0; }
img.price_match { width:150px; height:90px; background:url(../../images/common/services_bw.gif) -150px 0; }
img.free_shipping { width:150px; height:90px; background:url(../../images/common/services_bw.gif) -300px 0; }
img.we_talk { width:150px; height:90px; background:url(../../images/common/services_bw.gif) -450px 0; }